<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12 pt-0 animated fadeInUp">

    <div class="form-container">
      <h2>Cadastro de Destinos</h2>
      <input class="form-control mb-2" placeholder="Destino" type="text" [(ngModel)]="address">
      <input class="form-control mb-2" placeholder="Complemento" type="text" [(ngModel)]="complement">
      <input class="form-control mb-2" placeholder="CEP" type="number" [(ngModel)]="zipCode">
      <input class="form-control mb-2" placeholder="Bairro" type="text" [(ngModel)]="neighborhood">
      <input class="form-control mb-2" placeholder="Cidade" type="text" [(ngModel)]="city">
      <input class="form-control mb-2" placeholder="UF" type="text" [(ngModel)]="federal_unit">
      <input class="form-control mb-2" placeholder="Telefone" type="number" [(ngModel)]="phone">

      <button class="btn btn-success" (click)="createDestiny()"> Criar</button>
    </div>
  </div>
  <div class="col-xl-8 col-md-6 col-sm-12 pt-0">
    <div class="cars">
      <h2><i class="fas fa-map-marker"></i> Destinos cadastrados</h2>


        <mat-card *ngFor="let destiny of destinyList" class="animated fadeInRight mb-4">

              <div class="form-container">
                <div class="row">
                  <input class="pl-3 form-container mb-2 h4" type="text" [ngModel]="destiny['address']" (ngModelChange)="destiny['address'] = $event">
                  <div class="ml-auto">
                      <mat-menu #appMenu="matMenu">
                          <button mat-menu-item
                          (click)="updateDestiny(destiny['destiny_pk'], destiny['address'], destiny['complement'], destiny['zip'], destiny['neighborhood'], destiny['city'], destiny['federal_unit'], destiny['phone'])"
                          > Salvar Mudanças</button>
                          <button mat-menu-item (click)="deleteDestiny(destiny['destiny_pk'])">Deletar</button>
                        </mat-menu>

                        <a mat-button [matMenuTriggerFor]="appMenu">
                            <i class="fas fa-ellipsis-v"></i>
                        </a>
                   </div>
                </div>
                <input class="form-control mb-2" type="text" [ngModel]="destiny['complement']" (ngModelChange)="destiny['complement'] = $event">
                <input class="form-control mb-2" type="text" [ngModel]="destiny['zip']" (ngModelChange)="destiny['zip'] = $event">
                <input class="form-control mb-2" type="text" [ngModel]="destiny['neighborhood']" (ngModelChange)="destiny['neighborhood'] = $event">
                <input class="form-control mb-2" type="text" [ngModel]="destiny['city']" (ngModelChange)="destiny['city'] = $event">
                <input class="form-control mb-2" type="text" [ngModel]="destiny['federal_unit']" (ngModelChange)="destiny['federal_unit'] = $event">
                <input class="form-control mb-2" type="text" [ngModel]="destiny['phone']" (ngModelChange)="destiny['phone'] = $event">
                <div class="text-center">
                </div>
              </div>
          </mat-card>
          <h4 *ngIf="!destinyList.length"> Não existe registro de Destinos</h4>
    </div>
  </div>
  </div>
</div>
