@import '../app.component.scss';

.cars{
  color       : $color_font_1;
  padding-top : 20vh;
  font-family : 'Roboto', sans-serif;

}

.card {
  .form-container {
    padding: 0;
    input.h4 {
      border      : none;
      outline     : none!important;
      font-size   : 36px;
      font-weight : 300;
      width       : 80%;
    }
    button.btn-danger {
      background-color: $color_button_2;
    }
  }
}

.form-container button.btn-success {
  background-color: $color_button_3;
}
