/*
 * Colors
 *
 * Created By: Gustavo Yud
 */

/* Main colors */
$color_main_1              : #FFFFFF;

/* Font Colors */
$color_font_1              : #4A4A4A;
$color_font_2              : #B4B4B4;

/* Button Colors */
$color_button_1            : #4A80E2;
$color_button_2            : #f44336;
$color_button_3            : #4caf50;

/* Background COlors */
$color_background_1        : #EEEEEE;

/* Border Colors*/
$color_border_1            : #c62828;
$color_border_2            : #42A948;
