<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12 pt-0 animated fadeInUp">
        <div class="form-container">
            <h2>Cadastro de Agendas</h2>
            <input class="form-control mb-2"  placeholder="Data e Hora" [(ngModel)]="dateTime" type="datetime-local">
            <select class="form-control mb-2" [(ngModel)]="destinyPk">
              <option *ngFor="let destiny of destinyList" [value]="destiny['destiny_pk']"> {{ destiny['address'] }}</option>
            </select>

            <select class="form-control mb-2" [(ngModel)]="carPk">
              <option *ngFor="let car of carList" [value]="car['car_pk']"> {{ car['model'] }}</option>
            </select>

            <button (click)="schedule()" class="btn btn-success"> Criar</button>
          </div>
  </div>
  <div class="col-xl-8 col-md-6 col-sm-12 pt-0 ">
    <div class="schedule">
      <h2><i class="far fa-calendar-alt pr-2"></i>Agendas</h2>
        <mat-card *ngFor="let schedule of scheduleList" class="mb-4 animated fadeInRight">
              <div class="form-container">
                <div class="row">
                    <div class="ml-auto">
                        <mat-menu #appMenu="matMenu">
                            <button mat-menu-item
                            (click)="updateSchedule(schedule['schedule_pk'], schedule['dateTime'], schedule['cars'].car_pk, schedule['final_destiny'].destiny_pk)"> Salvar Mudanças</button>
                            <button mat-menu-item
                            (click)="deleteSchedule(schedule['schedule_pk'])">Deletar</button>
                          </mat-menu>

                          <a mat-button [matMenuTriggerFor]="appMenu">
                              <i class="fas fa-ellipsis-v"></i>
                          </a>
                     </div>
                </div>
                <input class="form-control mb-2" type="datetime-local" placeholder="Hora" [ngModel]="schedule['dateTime']" (ngModelChange)="schedule['dateTime'] = $event">

                <select class="form-control mb-2"
                        (change)="schedule['final_destiny'].destiny_pk = $event.target.value"
                >
                <option
                        *ngFor="let destiny of destinyList"
                        [value]="destiny['destiny_pk']"
                        [selected]="schedule['final_destiny']?.destiny_pk === destiny['destiny_pk']"
                        > {{ destiny['address'] }}</option>
                </select>

                <select class="form-control mb-2"
                      (change)="schedule['cars'].car_pk = $event.target.value">
                <option
                        *ngFor="let car of carList"
                        [value]="car['car_pk']"
                        [selected]="schedule['cars']?.car_pk === car['car_pk']"
                        > {{ car['model'] }}</option>
                </select>

              </div>
          </mat-card>
          <h4 *ngIf="!scheduleList.length"> Não existe registro de Agendas</h4>
    </div>
  </div>
  </div>
</div>
