<div class="container">
  <div class="row">
    <div class="col-4">
        <div class="form-container">
            <h2>Cadastro de Agendas</h2>

            <input class="form-control mb-2" placeholder="Data e Hora" [(ngModel)]="dateTime" type="datetime-local">

            <select class="form-control mb-2" [(ngModel)]="destinyPk">
              <option *ngFor="let destiny of destinyList" [value]="destiny['destiny_pk']"> {{ destiny['address'] }}</option>
            </select>

            <select class="form-control mb-2" [(ngModel)]="carPk">
              <option *ngFor="let car of carList" [value]="car['car_pk']"> {{ car['model'] }}</option>
            </select>

            <button (click)="schedule()" class="btn btn-success"> Criar</button>
          </div>
  </div>
  <div class="col-8">
    <div class="schedule">
      <h2>Agendas</h2>
        <div *ngFor="let schedule of scheduleList" class="card mb-4">
            <div class="card-body">
              <div class="form-container">
                <div class="row">
                  <div>
                    <i (click)="updateSchedule(schedule['schedule_pk'], schedule['dateTime'], schedule['cars'].car_pk, schedule['final_destiny'].destiny_pk)" class="fas fa-pencil-alt cursor pr-2 text-primary"></i>
                    <i (click)="deleteSchedule(schedule['schedule_pk'])" class="far cursor fa-trash-alt text-danger"></i>
                  </div>
                </div>
                <input class="form-control mb-2" type="datetime" placeholder="Hora" [ngModel]="schedule['dateTime']" (ngModelChange)="schedule['dateTime'] = $event">
                <!-- <input class="form-control mb-2" type="text" [ngModel]="schedule['cars']?.model" (ngModelChange)="schedule['cars'].model = $event"> -->
                <!-- <input class="form-control mb-2" type="text" [ngModel]="schedule['final_destiny']?.address" (ngModelChange)="schedule['final_destiny'].address = $event"> -->

                <select class="form-control mb-2"
                        (change)="schedule['final_destiny'].destiny_pk = $event.target.value"
                >
                <option
                        *ngFor="let destiny of destinyList"
                        [value]="destiny['destiny_pk']"
                        [selected]="schedule['final_destiny'].destiny_pk === destiny['destiny_pk']"
                        > {{ destiny['address'] }}</option>
                </select>

                <select class="form-control mb-2"
                      ([ngModel])="schedule['cars']?.model">
                <option
                        *ngFor="let car of carList"
                        [value]="car['car_pk']"
                        > {{ car['model'] }}</option>
                </select>


                <div class="text-center">
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
  </div>
</div>
