<app-menu></app-menu>

<div class="text-center">
  <h1> Seja Bem Vindo {{ name }}</h1>
</div>

<div class="text-center">
  <a [routerLink]="['/car/']">Carros</a>
  <a [routerLink]="['/destiny/']">Destino</a>
  <a [routerLink]="['/schedule/']">Agenda</a>
  <a (click)="logout()"> logout </a>
</div>
<div class="container">
  <h5 *ngIf="responseMessage"> {{ responseMessage }}</h5>
  <mat-card *ngFor="let schedule of scheduleList;index as i " class="mb-5">

    <div class="card" class="pb-2">
    <div class="card-body" class="mb-2">
      <h2>Modelo: {{ schedule['cars']?.model }}</h2>
      <h5>Placa: {{ schedule['cars']?.license_plate }}</h5>
      <h5>Cor: {{ schedule['cars']?.color }}</h5>
      <h5>Capacidade: {{ schedule['cars']?.capacity }}</h5>
      <h5>Data e Hora: {{dateTimeString(schedule['dateTime'], 'date')}} -  {{dateTimeString(schedule['dateTime'], 'time')}} </h5>
      <h5>Endereço de Saída: {{schedule['property_user']?.address }} - {{schedule['property_user']?.complement }}</h5>

      <h5>Endereço Final: {{ schedule['final_destiny']?.address }} - {{ schedule['final_destiny']?.complement }}</h5>
      <h5>Cidade: {{schedule['final_destiny']?.city }}</h5>
      <h5>Motorista: {{schedule['property_user']?.name}}</h5>

        <button mat-raised-button
        (click)="scheduledList[i] ? isScheduled(schedule['schedule_pk'], i) : carpoolingSchedule(schedule['schedule_pk'], i)"
        color="{{ scheduledList[i] ? 'warn' : 'primary'}}">

        {{ scheduledList[i] ? 'Sair da carona' : 'Entrar na Carona' }}
      </button>
  </div>

</div>
</mat-card>
